[staticPage]
useContent = 1
default = 0

[staticMenu main_page_item]
code = "main_page_item"

[staticMenu contacts_item]
code = "contacts"

[staticMenu specifications]
code = "specifications"

[CategoryList]
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>{{ this.page.meta_title }}</title>
    {% styles %}
    <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">


    {#<link href="/themes/demo/assets/css/style.css" rel="stylesheet">#}
</head>
<body>
<div class="wrapper">
<header class="main__header">
    <div class="container header_cont">
        <div class="row">

            <div class="col-md-4 brand_block">
                <h2 class="brand_slogan">ТОВ "Днепр"</h2>

                <div class="brand__img">
                    <img src="{{ 'assets/images/gear-wheel-icon.png'|theme }}" alt="" class="">
                </div>
                <a class="header__tel" href="tel:+380669043660">Тел: +38 (066) 904-36-60</a>
                <a class="header__mail" href="mailto:dnipro@online24.net.ua">dnipro@online24.net.ua</a>
            </div>
            <div class="col-md-8">
                {% if this.page.title == 'Главная' %}
                    <h1 class="page__title">Кормораздатчик</h1>
                    <div class="main__header-img">
                        <img src="" alt="" class="">
                    </div>
                {% elseif CategoryPage.get() %}
                    {% set obCategory = CategoryPage.get() %}
                    <h1 class="page__title">{{ obCategory.name }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
</header>



        <main class="container main__cont">
            <div class="row">
                <aside class="main__aside col-md-3">
                    <a class="main_menu-item" href="/">Главная</a>
                    <a class="main_menu-item" href="/harakteristiki">Характеристики</a>
                    <h4 class="main__menu-subtitle">Каталог запчастей:</h4>
                    {# Get CategoryCollection class object. Call tree() method to get category tree #}

                    {% set obCategoryList = CategoryList.make().tree() %}
                    {% if obCategoryList.isNotEmpty() %}

                            {% for obCategory in obCategoryList if obCategory.product_count > 0 %}

                                    {% if obCategory.children.isNotEmpty() %}
                                        <ul class="category-child-menu-wrapper">
                                            {% for obChildCategory in obCategory.children if obChildCategory.product_count > 0 %}
                                                <li><a href="/catalog/zapchasti/{{ obChildCategory.slug }}">{{ obChildCategory.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                            {% endfor %}

                    {% endif %}


                    <a class="main_menu-item" href="/contacts">Контакты</a>

                </aside>
                <div class="col-md-9">
                    {% page %}
                </div>
            </div>

        </main>

    <footer class="main_footer">
        <div class="container">
            <p class="m-0 text-center">Copyright © Online24 - 2018</p>
        </div>
    </footer>
</div>

    <!-- Scripts -->
    <script src="{{ ['assets/javascript/app.js',
                    'assets/javascript/bootstrap.min.js']
                    |theme }}"></script>
    
</body>
</html>