[staticPage]
useContent = 1
default = 0

[staticMenu main_page_item]
code = "main_page_item"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "category"

[staticMenu contacts_item]
code = "contacts"
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>{{ this.page.meta_title }}</title>
    <link href="/themes/demo/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">


    {#<link href="/themes/demo/assets/css/style.css" rel="stylesheet">#}
</head>
<body>

<header class="main__header">
    <div class="container header_cont">
        <div class="row">

            <div class="col-md-4 brand_block">
                <h2 class="brand_slogan">ТОВ "Днепр"</h2>

                <div class="brand__img">
                    <img src="{{ 'assets/images/gear-wheel-icon.png'|theme }}" alt="" class="">
                </div>
                <a class="header__tel" href="tel:+380669043660">Тел: +38 (066) 904-36-60</a>
                <a class="header__mail" href="mailto:info@dnipro.online24.net.ua">info@dnipro.online24.net.ua</a>
            </div>
            <div class="col-md-8">
                {% if this.page.title == 'Главная' %}
                    <h1 class="page__title">Кормораздатчик</h1>
                    <div class="main__header-img">
                        <img src="" alt="" class="">
                    </div>
                {% else %}
                    <h1 class="page__title">{{ this.page.title }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
</header>



        <main class="container main__cont">
            <div class="row">
                <aside class="col-md-3">
                    {% component 'main_page_item' %}
                    {% component 'blogCategories' %}
                    {% component 'contacts_item' %}
                </aside>
                <div class="col-md-9">
                    {% page %}
                </div>
            </div>

        </main>

    <footer class="main_footer">
        <div class="container">
            <p class="m-0 text-center">Copyright © Online24 - 2018</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
</body>
</html>